.movies-card-list {
  margin: 10px 0 0;
  padding: 70px 0 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 38px 20px;
}

.movies-card-list__message {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #a0a0a0;
  grid-column: 1 / 5;
}

.movies-card-list__button-container {
  display: flex;
  justify-content: center;
}

.movies-card-list__button {
  width: 320px;
  height: 36px;
  border-radius: 6px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000;
}

@media screen and (max-width: 1100px) {
  .movies-card-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .movies-card-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 70px 0 60px;
    gap: 30px;
  }
}

@media screen and (max-width: 520px) {
  .movies-card-list {
    grid-template-columns: 1fr;
    padding: 40px 0 60px;
    gap: 34px;
  }

  .movies-card-list__button {
    width: 240px;
  }
}
