.header {
  padding: 18px 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 10px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    padding: 18px 0;
  }
}
